.bs-example{
  border: 1px solid $colour-grey-light;
  margin-bottom: -$grid-gutter-width / 2;
  padding: ($grid-gutter-width * 1.5) ($grid-gutter-width / 2)  ($grid-gutter-width / 2);
  position: relative;
  &:before{
    color: $colour-grey;
    content: 'Exmaple';
    font-size: 1rem;
    font-weight:400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: absolute;
    top: $grid-gutter-width / 2
  }
  & + figure.highlight pre{
    border-top: 0px;
  }
}
