#spy-nav{
  position: relative;
  .nav{
    position: fixed;
    li ul{
      padding-left: $grid-gutter-width / 2;
      display: none;
    }
    li.active{
      ul{
        display: block;
      }
    }
  }
}
